# Python
# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor files
.vscode/
.idea/

# Virtual Environment
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Distribution / packaging
.Python
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# Unity
# Temporary and cache files
[Tt]emp/
[Tt]empFiles/
[Ll]ibrary/
[Ll]ogs/

# Compiled files
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]istPublic/

# Backup files
*.bak
*.swp
*.swo

# Working files
*.unitypackage

# Project settings (personal configuration files)
user_settings/
